name: Run Gradlew in Baustelle

on:
  workflow_dispatch:

jobs:
  run-gradle:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Grant execute permission for gradlew
        run: chmod +x baustelle/gradlew
      
      - name: Run gradlew
        working-directory: baustelle
        run: ./gradlew
